{% extends "pickATrip_django_apps/base.html"%}
{% block content %}
	<h1 id="picatrip">PicATrip</h1>
		<p><img src="https://user-images.githubusercontent.com/48455448/110465508-26ae0a80-80dd-11eb-8268-586b26a1e59e.png" alt="logo- picATrip"></p>
		<h3 id="-who-are-we-"><strong>Who are we?</strong></h3>
		<p>   <strong>PicATrip</strong> is a web platform for <strong>sharing experiences from <em>trips</em></strong>
			in a form of <strong>photos</strong> based on various parameters as:</p>

	<ul>
		<li>Location</li>
		<li>Duration time</li>
		<li><p>Difficulty</p>
		<h4 id="other-features-it-provides-">Other features It provides:</h4>
		</li>
		<li>A trip <strong>search functionality</strong> by areas</li>
		<li><p><strong>Commenting functionality</strong> for trips shared on the platform</p>
		<p> <strong>PicATrip</strong> allows users to have the opportunity to <strong>contribute their trip experience</strong> and thoughts by
	 	<strong>pic</strong>king  a picture of a <strong>trip</strong> shared on the platform, and by that <strong>learn about the trips</strong>
	 	which stands behind the pictures, and having the opportunity to <strong>share their thoughts</strong> and <strong>comment</strong> if they desire.</p>
		</li>
	</ul>
	<h3 id="why-using-us-">Why using us?</h3>
	<p>  <strong>Have you ever heard of the phrase &#39;eating with the eyes&#39;?</strong> well that&#39;s about it! we believe in outdoor lifestyle and trips,
	  and we strive to promote and encourage people to share their experience of trips in a form of a photo, only then when a user had
	  an interest in a trip picture, he would be capable of getting more information about the trip, and comment his thoughts about it.
	</p>
	<p>  On days where we spending most of our time indoors, staring at screens, and being glued to our chair, whether it&#39;s as part of
	  our studies, work, or as part of binging a series on the couch.
	  We desire to change it and as wiser people have said- a photo worth a thousand words,
	  then what&#39;s better than a thousand words to describe an experience of a trip.
	</p>
	<h3 id="still-not-convinced-">Still not convinced?</h3>
	<p> As my mom used to say to me as a picky eater- <em>&quot; try first, and then we&#39;ll discuss it, what do you have to lose?&quot;</em></p>
	<h2 id="tools-used-for-development">Tools used for Development</h2>

	<ul>
		<li><a href="https://www.vagrantup.com/">Vagrant</a> - a tool for using virtual machines to share development
			environments
		</li>
		<li><a href="https://github.com/pypa/pipenv">PipEnv</a> - a packaging tool for Python that solves some common problems associated with the typical workflow using pip, virtualenv, and the good old requirements
		</li>
		<li><a href="https://www.djangoproject.com/">Django</a> - a software framework for writing web applications using the Python programming language
		</li>
	</ul>
{% endblock content %}

