{% extends "pickATrip_django_apps/base.html"%}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
	{% for post in posts %}
		<div class="col">
          <div class="card shadow-sm">
            <a href="{% url 'post_detail' post.id %}">
		<img src= {{post.photoURL}} alt="photo of {{post.nameOfLocation}}" style="width:100%;height:300px;"></a>
            <div class="card-body">
              <p class="card-text">{{post.Description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{post.nameOfLocation}}</small>
				 <small class="text-muted">{{post.user.username}}</small>
              </div>
            </div>
          </div>
        </div>

	{% endfor %}
      </div>
    </div>
  </div>	

{% endblock content %}
	

